:root{
  box-sizing: border-box;
}
.tile-container {
  border-radius: 5px;
}
.tile-row {
    margin: 5px 10px;
    box-shadow: 0 0px 4px rgb(0 0 0 / 16%), 0 2px 3px 0px rgb(0 0 0 / 23%);
}
.tile {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 5px 5px;
  height: 80px;
  padding: 5px;
  width: 100%;
  font-size: 15px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.mf-name,
.iShares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
}
.common-logos {
  height: 15px;
}
.basic-tile {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: start;
}
.icons{
    margin-right: 10px;
}
.detail-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-sub-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-sub-content img {
  margin-right: 10px;
}

.market-value-tile,
.urealized-value-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.progress-container {
  margin-top: 10px;
}
.reverse-progress {
  transform: rotate(180deg);
}
.reverse-progress::-webkit-progress-value {
  background: #f20303;
}
progress {
  border: none;
  background: crimson;
  border-radius: 5px;
  width: 100%;
  height: 9px;
}

progress {
  color: lightblue;
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: #07c407;
  border-radius: 20px;
}

progress::-webkit-progress-bar {
  background: rgb(192, 192, 192);
}

.dashboard-wrapper{
  display: flex;
  /* flex-direction: column; */
}
.tile-container{
  display: grid;
  width: 75%;
}
.chart-container{
  box-shadow: 0 0px 4px rgb(0 0 0 / 16%), 0 2px 3px 0px rgb(0 0 0 / 23%);
}
.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
  background-color: #f1f1f1;
}
.button-container button{
  padding:7px 10px;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  margin: 3px 0px;
  font-size: 14px;
}
.chart-wrapper{
  border-radius: 5px;
  padding: 5px;
  margin: 5px 10px;
  font-size: 14px;
}
.loader-container{
  width: 100%;
  text-align: center;
  margin: 10px;
}
.loader-container img{
  width: 100px;
}