.App {
  margin:auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.d-flex{
  display: flex;
}
.cursor{
  cursor: pointer;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.space-between{
  justify-content: space-between;
}
.mb-5{
  margin-bottom: 5px;
}
.mt-5{
  margin-top: 5px;
}
.color-blue{
  color: #00b7ff;
}
.color-lightgrey{
  color: lightgray;
}
.color-green{
  color: #a8bd84;
}
.weight-700{
  font-weight: 700;
}
.font-8{
  font-size: 8px;
}
.font-10{
  font-size: 10px;
}
.font-11{
  font-size: 11px;
}
.font-12{
  font-size: 12px;
}
.font-13{
  font-size: 13px;
}
.font-14{
  font-size: 14px;
}
.font-15{
  font-size: 15px;
}
.font-16{
  font-size: 16px;
}
header{
  margin: 15px;
}
.header-logo{
  width: 75px;
}
